window
{
    title = LD38
    width = 1280
    height = 720
    fullscreen = false
}

aliases
{
    image = res/png/image.png
    cloud = res/png/cloud.png
    world = res/png/world.png
    circle = res/png/circle.png
    white = res/png/white.png
    cloud2 = res/png/cloud2.png
    star1 = res/png/star1.png
    star2 = res/png/star2.png
}