window
{
    title = LD38
    width = 1280
    height = 720
    fullscreen = false
}

aliases
{
    image = res/png/image.png
    world = res/png/world.png

    cloud = res/png/wolkedunkel.png
    cloud2 = res/png/wolkehell.png
    rain1 = res/png/rain1.png
    rain2 = res/png/rain2.png
    unicorn = res/png/einhorn.png

    circle = res/png/circle.png
    white = res/png/white.png
    star1 = res/png/star1.png
    star2 = res/png/star2.png

    plantseed = res/png/seed.png
    plantsmall = res/png/small.png
    plantmedium = res/png/medium.png
    planttree = res/png/palme.png
}